/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* display: inline; */
}

/* Scroll  */
html{
    scroll-behavior: smooth;
}

/* Background Color: Black */
body{
    background-color: black;
}

/* Utility Classes */
h1 {
    font-size: 50px;
}
h3{
    font-size: 35px;
}
p{
    font-size: 30px;
}
nav{
    width: 100%;
}
/* Navbar */
.navbar-brand{
    font-size: 30px;
}
.nav-item a{
    color: #fff!important;
    font-weight:bold;
}
.header{
    height: 100vh;
    width: 100%;
    background-color: black;
}
.header:before{
    content: "";
    position: absolute;
}
.dropdown-menu a{
    color: black!important;
}
.extra{
    
    padding: 20px!important;
    text-align: center;
    display: flex;

}
/* Navbar Ends */

/* Top Sectiom: Video Bcakground */
header {
    position: relative;
    background-color: black;
    height: 95vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
header video 
{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
header .container
{
    position: relative;
    z-index: 2;
}
header .overlay
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}
 /* Top SEction Ends */
#share{
    margin-top: 125px;
}
#share h1{
    margin: 20px 0px;
}
#share .share-box{
    width:100%;
}
.box{
    padding: 0px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box img{
    margin: 20px 0px;
    height:250px;
    width:450px;
    width: 72%;
}
#share form{
    width:72%;
}
#search form{
    width:72%;
}
textarea{
    width: 100%;
}
#search{
    margin: 125px 0px 50px 0px ;
}
#search h1{
    margin: 20px 0px;
}

.btn{
    margin: 30px 0px;
    background-color: #fff;
    color: black;
    width: 100%;

}

.page-footer{
    height: 25vh;
    width: 100%;
    color:whitesmoke;
    background-color: black;
}
footer .container ul li a i{
    cursor: pointer;
    
}

@media (max-width:1500px){
    #share .share-box{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #search .share-box{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:950px){
    #share .share-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #search .share-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav{
        width: 100%;
    }
    .box{
        margin:60px 0px;
    }
}
@media (max-width:784px){
    .display-3{
        font-size: 50px;
    }
    .share-text{
        font-size: 45px;
    }
    .search-text{
        font-size: 45px;
    }
}
@media (max-width:524px){
    .share-text{
        font-size: 40px;
    }
    .search-text{
        font-size: 40px;
    }
}
@media (max-width:375px){
    .share-text{
        font-size: 30px;
    }
    .search-text{
        font-size: 30px;
    }
}


